<%= form_with(model: @kid) do |form| %>
<%= form.label :name, "Name:" %>
<%= form.text_field :name %>
<%= form.label :age, "Age:" %>
<%= form.text_field :age %>
<%= form.label :description, "Description" %>
<%= form.text_field :description %>
<%= form.submit "Save" %>
<% end %>
  <% if @kid.errors.any? %> 
  <% @kid.errors.full_messages.each do |message| %>
  <p><%= message %></p>

  <% end %> 
  <% end %> 