<h1>Kids index</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @kids.each do |kids| %>
    <tr>
      <td><%= kids.name%></td>
      <td><%= kids.age%></td>
      <td><%= kids.description%></td>   
      <td><%= link_to 'Show', kid_path(kids) %> </td>
      <td><%= link_to 'Edit', edit_kid_path(kids) %> </td>
      <td><%= link_to 'Delete', kid_path(kids), method: :delete %> </td>
 
      <td><%= link_to 'Create Kid', new_kid_path %> </td>
    </tr>
    <% end %>
  </tbody>
</table>