<h1>Create new Kid</h1>

<%= form_with(model: @kids, url: kids_path) do |form| %>
<%= form.label :name, "Name:" %>
<%= form.text_field :title %>
<%= form.label :age, "Age:" %>
<%= form.text_field :age %>
<%= form.label :description, "Description" %>
<%= form.text_field :description %>
<%= form.submit "Save" %>
<% end %>
  <% if @kids.errors.any? %> 
  <% @kids.errors.full_messages.each do |message| %>
  <p><%= message %></p>

  <% end %> 
  <% end %> 